Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: check-yaml
    name: check-yaml
    entry: check-yaml
    language: python
    types: [yaml]
    stages: [commit]
  - id: check-json
    name: check-json
    entry: check-json
    language: python
    types: [json]
    stages: [commit]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: python
    types: [toml]
    stages: [commit]
  - id: check-ast
    name: check-ast
    entry: check-ast
    language: python
    types: [python]
    stages: [commit]
  - id: check-builtin-literals
    name: check-builtin-literals
    entry: check-builtin-literals
    language: python
    types: [python]
    stages: [commit]
  - id: check-case-conflict
    name: check-case-conflict
    entry: check-case-conflict
    language: python
    types: [python]
    stages: [commit]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: python
    types: [text]
    stages: [commit]
  - id: fix-byte-order-marker
    name: fix-byte-order-marker
    entry: fix-byte-order-marker
    language: python
    types: [python]
    stages: [commit]
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: mixed-line-ending
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: trailing-whitespace-fixer
    name: trailing-whitespace-fixer
    entry: trailing-whitespace-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: reorder-python-imports
    name: reorder-python-imports
    entry: reorder-python-imports
    language: python
    types: [python]
    stages: [commit]
  - id: black
    name: black
    entry: black
    language: python
    types: [python]
    stages: [commit]
    #- id: flake8
    #name: flake8
    #entry: flake8
    #language: python
    #types: [python]
    #stages: [commit]
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
    always_run: true
    stages: [push]

Fix Github Actions build
  pyproject.toml
Due: check-toml

Fixes #103
  .github/workflows/pythonapp.yml
Due: check-yaml

Bump version: 0.18.52 → 0.18.53
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

periodic sleeps to help the receive thread
  .bumpversion.cfg
  pyxcp/__init__.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update recorder build scripts
  pyxcp/recorder/build_clang.sh
  pyxcp/recorder/build_gcc.sh
  pyxcp/recorder/build_gcc_arm.sh
Due: none

rekorder.hpp: Add get_header_as_tuple() method
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Cleanup wrap.cpp
  pyxcp/recorder/wrap.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

recorder: remove gemerator stuff
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

recorder: rename next_record() to next_block()
  pyxcp/recorder/wrap.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Recorder package
  .gitignore
  pyxcp/recorder/__init__.py
  pyxcp/recorder/recorder.py
  pyxcp/recorder/test_reko.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add rekorder.cpp test program
  pyxcp/recorder/build_clang.cmd
  pyxcp/recorder/build_clang.sh
  pyxcp/recorder/build_gcc.cmd
  pyxcp/recorder/build_gcc.sh
  pyxcp/recorder/build_gcc_arm.sh
  pyxcp/recorder/rekorder.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

recorder: threaded writer
  pyxcp/recorder/rekorder.cpp
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Update recorder package
  .pdm.toml
  pyxcp/examples/conf_socket_can.toml
  pyxcp/recorder/__init__.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/test_reko.py
  pyxcp/recorder/wrap.cpp
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

recorder: Fix tuple
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

recorder: Update interface
  pyxcp/recorder/rekorder.cpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/test_reko.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

recorder: Small fixes
  pyxcp/recorder/build_clang.sh
  pyxcp/recorder/build_gcc.sh
  pyxcp/recorder/build_gcc_arm.sh
  pyxcp/recorder/rekorder.cpp
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

recorder: use plain char pointers
  pyxcp/recorder/build_clang.cmd
  pyxcp/recorder/build_clang.sh
  pyxcp/recorder/build_gcc.cmd
  pyxcp/recorder/build_gcc.sh
  pyxcp/recorder/rekorder.cpp
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

recorder: add block memory manager
  pyxcp/recorder/build_clang.sh
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/test_reko.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Some cleanup regarding `getId()`.
  pyxcp/examples/xcp_skel.py
  pyxcp/examples/xcphello.py
  pyxcp/master/master.py
  pyxcp/types.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update pyproject.toml
  pyproject.toml
Due: check-toml

Bump version: 0.18.54 → 0.18.55
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add xcp-fetch-a2l script
  pyproject.toml
  pyxcp/master/master.py
  pyxcp/scripts/xcp_fetch_a2l.py
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.55 → 0.18.56
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

fix #115 stopping can listener after session disconnect
  pyxcp/transport/can.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Check for listener thread liveness
  pyxcp/transport/base.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update xcphello.py and also make it available as xcp_info script
  pyproject.toml
  pyxcp/scripts/xcp_info.py
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.56 → 0.18.57
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix download method to handle last flag for the block_downloader
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update generalized_downloader to handle non-block mode with same features as block mode
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Change program reset method to optionally wait for response from slave
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

fix bug for nican driver
  pyxcp/transport/candriver/pc_nican.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

support nixnet candriver
  pyxcp/examples/conf_nixnet.json
  pyxcp/transport/candriver/pc_nixnet.py
Due: check-json, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Make response for transport layer command optional
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

changes in Executor to avoid infinite loop when repetition is not REPEAT_INF_TIMES
  pyxcp/master/errorhandler.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.57 → 0.18.58
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

rekorder: Change signature of 'add_frame'
  pyxcp/recorder/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update errorhandler.py
  pyxcp/master/errorhandler.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Make DISCONNECT response optional.
  docs/configuration.rst
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.58 → 0.18.59
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black
