Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

ruff:
  name: ruff
  entry: ruff
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-json:
  name: check-json
  entry: check-json
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Try Linux builds #8
  CMakeLists.txt
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try Linux builds #9
  build_ext.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try Linux builds #10
  pyproject.toml
Due: check-toml

Try Linux builds #11
  pyproject.toml
Due: check-toml

Try Linux builds #12
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-toml, check-yaml

Try Linux builds #13
  CMakeLists.txt
Due: none

Try Linux builds #14
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-toml, check-yaml

Try Linux builds #15
  pyproject.toml
Due: check-toml

update build script
  .github/workflows/pythonapp.yml
  build_ext.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Pass Python config. to CMakeLists.txt
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Pass Python config. to CMakeLists.txt #2
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try Ubuntu build #1
  .github/workflows/pythonapp.yml
  CMakeLists.txt
  build_ext.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.1 → 0.22.2
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

update build script
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

update github download/upload
  .github/workflows/pythonapp.yml
Due: check-yaml

update github download/upload
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

update build script
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix typo
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

CMakeLists.txt: check for CMP0135
  CMakeLists.txt
Due: none

Bump version: 0.22.4 → 0.22.5
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add xcp_examples script
  pyproject.toml
  pyxcp/scripts/xcp_examples.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix serial port properties
  pyxcp/transport/sxi.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Linearize timer overflows
  .github/workflows/pythonapp.yml
  docs/installation.md
  docs/linux_installation.md
  docs/tutorial.md
  docs/tutorial.rst
  pyxcp/recorder/unfolder.hpp
Due: check-yaml, mixed-line-ending

pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml

try to fix upload-artifact
  .github/workflows/pythonapp.yml
Due: check-yaml

try to fix upload-artifact #2
  .github/workflows/pythonapp.yml
Due: check-yaml

try to fix upload-artifact #3
  .github/workflows/pythonapp.yml
Due: check-yaml

try to fix upload-artifact #4
  .github/workflows/pythonapp.yml
Due: check-yaml

try to fix upload-artifact #5
  .bumpversion.cfg
  .pre-commit-config.yaml
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

try to fix upload-artifact #6
  .github/workflows/pythonapp.yml
Due: check-yaml

Bump version: 0.22.6 → 0.22.7
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try to run ubuntu build
  .github/workflows/pythonapp.yml
Due: check-yaml

Bump version: 0.22.7 → 0.22.8
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml

Try to run ubuntu build (update packages)
  .github/workflows/pythonapp.yml
Due: check-yaml

Update dependencies
  .pre-commit-config.yaml
  poetry.lock
  pyxcp/daq_stim/__init__.py
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.8 → 0.22.9
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update address_ext parameter for push method
  .pre-commit-config.yaml
  docs/linux_installation.md
  docs/tutorial.md
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/master/master.py
  pyxcp/tests/test_binpacking.py
  pyxcp/tests/test_daq.py
  pyxcp/tests/test_frame_padding.py
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  ruff: any of: \.py$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
