Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-ast
        name: check-ast
        entry: check-ast
        language: python
        types: [python]
        stages: [commit]
      - id: check-builtin-literals
        name: check-builtin-literals
        entry: check-builtin-literals
        language: python
        types: [python]
        stages: [commit]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [python]
        stages: [commit]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [text]
        stages: [commit]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [python]
        stages: [commit]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types_or: [c, c++, python]
        stages: [commit]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types_or: [python]
        stages: [commit]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        #- repo: https://github.com/necaris/pre-commit-pyright
        #rev: '1.1.53'
        #hooks:
        #- id: pyright

Bump version: 0.22.31 → 0.22.32
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

XCP framing now in C++
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/framing.hpp
  pyxcp/master/master.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add unpack_header method
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/framing.hpp
Due: mixed-line-ending

Small fixes
  pyxcp/cpp_ext/framing.hpp
  pyxcp/examples/conf_sxi.json
  pyxcp/examples/conf_sxi.toml
  pyxcp/transport/sxi.py
Due: bandit, black, ruff, check-toml, check-json, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

New framing format handling
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/framing.hpp
  pyxcp/transport/base.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Refactorings
  README.md
  pyxcp/cpp_ext/aligned_buffer.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/master/master.py
  pyxcp/tests/test_master.py
  pyxcp/tests/test_transport.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

update deps & add build options
  .github/workflows/pythonapp.yml
  .gitignore
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Bump version: 0.22.32 → 0.22.33
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix MDF converter
  pyxcp/recorder/converter/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.33 → 0.22.34
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

additional_module_path parameter
  pyxcp/config/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add custom_dll_loader config parameter
  pyxcp/config/__init__.py
  pyxcp/dllif.py
  pyxcp/examples/xcphello.py
  pyxcp/master/master.py
  pyxcp/utils.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.34 → 0.22.35
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

add win11 arm
  .github/workflows/pythonapp.yml
  pyproject.toml
  pyxcp/daq_stim/scheduler.cpp
Due: check-toml, check-yaml, mixed-line-ending

Update custom CAN interface support
  pyxcp/examples/xcp_user_supplied_driver.py
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Initial documentation for custom CAN interfaces
  docs/custom_can_driver.md
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Filter update
  docs/custom_can_driver.md
  pyxcp/config/__init__.py
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

CAN transport: Add software filtering layer
  pyxcp/config/__init__.py
  pyxcp/scripts/xcp_info.py
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update documentation
  docs/custom_can_driver.md
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.35 → 0.23.0
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update custom_can_driver.md
  docs/custom_can_driver.md
Due: none

Bump version: 0.23.0 → 0.23.1
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update .readthedocs.yml
  .readthedocs.yml
Due: check-yaml

Update documentation system
  .github/workflows/pythonapp.yml
  README.md
  docs/conf.py
  docs/configuration.md
  docs/configuration.rst
  docs/howto.md
  docs/howto.rst
  docs/howto_can_driver.md
  docs/howto_can_driver.rst
  docs/howto_cli_tools.md
  docs/howto_cli_tools.rst
  docs/index.md
  docs/index.rst
  docs/installation.md
  docs/modules.md
  docs/modules.rst
  docs/pyxcp.rst
  docs/recorder.md
  docs/recorder.rst
  docs/requirements.txt
  docs/tutorial.md
  poetry.lock
  pyproject.toml
  pyxcp/cmdline.py
  pyxcp/config/__init__.py
  pyxcp/examples/xcphello.py
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update .readthedocs.yml
  .readthedocs.yml
  docs/conf.py
  docs/requirements.txt
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.23.1 → 0.23.2
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.35 → 0.22.36
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Small fixes
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/writer.hpp
Due: mixed-line-ending

Bump version: 0.23.2 → 0.23.3
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix issue with sporadic communication problems (Long running measurements)
  pyproject.toml
  pyxcp/daq_stim/__init__.py
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade
