Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

ruff:
  name: ruff
  entry: ruff
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-json:
  name: check-json
  entry: check-json
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Bump version: 0.22.9 → 0.22.10
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Logging: dont overwrite existing handler
  pyxcp/config/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

New examples
  pyxcp/examples/ex_csv.py
  pyxcp/examples/ex_excel.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.10 → 0.22.11
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix timestamps
  build_ext.py
  pyxcp/config/__init__.py
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.11 → 0.22.12
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add basic Docker container
  container/basic/.tmux.conf
  container/basic/.zshrc
  container/basic/Dockerfile
  container/basic/build.cmd
  container/basic/build.sh
  container/basic/pyxcp_conf.py
  container/basic/run.cmd
  container/basic/run.sh
  docs/linux_installation.md
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

DAQ event num getter/setter
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
Due: mixed-line-ending

Bump version: 0.22.12 → 0.22.13
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml

Update pyproject.toml
  pyproject.toml
Due: check-toml

Make relative imports absolute
  .bumpversion.cfg
  CMakeLists.txt
  build_ext.py
  pyproject.toml
  pyxcp/__init__.py
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/helper.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/daq_stim/optimize/__init__.py
  pyxcp/daq_stim/optimize/binpacking.py
  pyxcp/examples/run_daq.py
  pyxcp/transport/base.py
  pyxcp/utils.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update build system
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-toml, check-yaml

Try fix build system
  build_ext.py
  pyproject.toml
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Try fix build system
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update build_ext.py
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix Linux cmake build
  CMakeLists.txt
Due: none

Bump version: 0.22.14 → 0.22.15
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add reset_application() function
  pyxcp/cmdline.py
  pyxcp/config/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update __init__.py
  pyxcp/config/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Do no require artifacts for Python 3 embedding developments
  CMakeLists.txt
Due: none

Build on manylinux_2_28
  pyproject.toml
Due: check-toml

Add reset_application() function
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
  pyxcp/config/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Removing the manylinux aarch64 image override
  pyproject.toml
Due: check-toml

Build linux aarch64 using emulation
  .github/workflows/pythonapp.yml
Due: check-yaml

Only build manylinux x86_64 until aarch64 issues are resolved
  .github/workflows/pythonapp.yml
Due: check-yaml

Remove unneeded build steps
  .github/workflows/pythonapp.yml
Due: check-yaml

Replace SingletonConfigurable classes with Configurable
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
  pyxcp/config/__init__.py
  pyxcp/master/master.py
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Replace SingletonConfigurable classes with Configurable
  .github/workflows/pythonapp.yml
Due: check-yaml

Fix merge conflict
  .bumpversion.cfg
  .github/workflows/pythonapp.yml
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

remove manylinux build skip for python 39
  pyproject.toml
Due: check-toml

Update poetry.lock
  poetry.lock
Due: none

Try to skip failed build steps
  .github/workflows/pythonapp.yml
Due: check-yaml

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  ruff: any of: \.py$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
