Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: check-yaml
    name: check-yaml
    entry: check-yaml
    language: python
    types: [yaml]
    stages: [commit]
  - id: check-json
    name: check-json
    entry: check-json
    language: python
    types: [json]
    stages: [commit]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: python
    types: [toml]
    stages: [commit]
  - id: check-ast
    name: check-ast
    entry: check-ast
    language: python
    types: [python]
    stages: [commit]
  - id: check-builtin-literals
    name: check-builtin-literals
    entry: check-builtin-literals
    language: python
    types: [python]
    stages: [commit]
  - id: check-case-conflict
    name: check-case-conflict
    entry: check-case-conflict
    language: python
    types: [python]
    stages: [commit]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: python
    types: [text]
    stages: [commit]
  - id: fix-byte-order-marker
    name: fix-byte-order-marker
    entry: fix-byte-order-marker
    language: python
    types: [python]
    stages: [commit]
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: mixed-line-ending
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: trailing-whitespace-fixer
    name: trailing-whitespace-fixer
    entry: trailing-whitespace-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: reorder-python-imports
    name: reorder-python-imports
    entry: reorder-python-imports
    language: python
    types: [python]
    stages: [commit]
  - id: black
    name: black
    entry: black
    language: python
    types: [python]
    stages: [commit]
    #- id: flake8
    #name: flake8
    #entry: flake8
    #language: python
    #types: [python]
    #stages: [commit]
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
    always_run: true
    stages: [push]

today()
  pyxcp/recorder/writer.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

resolved
  docs/recorder.rst
  pyxcp/examples/conf_can.toml
  pyxcp/examples/conf_eth.toml
  pyxcp/examples/xcp_read_benchmark.py
  pyxcp/examples/xcphello.py
  pyxcp/examples/xcphello_recorder.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

add xcp_recording.py
  pyxcp/examples/xcp_recording.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today
  pyxcp/transport/sxi.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/config/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

MacOS fixes
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/writer.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pyxcp/cpp_ext/bin.hpp
  pyxcp/cpp_ext/blockmem.hpp
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/daq_stim/linreg.hpp
  pyxcp/daq_stim/scheduler.cpp
  pyxcp/daq_stim/scheduler.hpp
  pyxcp/daq_stim/stim.cpp
  pyxcp/daq_stim/stim.hpp
  pyxcp/daq_stim/stim_wrapper.cpp
  pyxcp/recorder/mio.hpp
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
  reformat.cmd
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  docs/recorder.rst
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/writer.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  docs/recorder.rst
  pyxcp/recorder/unfolder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

partially fix reinterpret_cast
  pyxcp/recorder/unfolder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/writer.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

fix type issues
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Update poetry
  poetry.lock
  pyproject.toml
Due: check-toml

fix typos
  pyxcp/config/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  .gitmodules
Due: none

today()
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  CMakeLists.txt
Due: none

today()
  build_ext.py
  pyproject.toml
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  CMakeLists.txt
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyproject.toml
Due: check-toml

today()
  pybind11Config.cmake
Due: none

today()
  build_ext.py
  poetry.lock
  pybind11Config.cmake
  pyxcp/cpp_ext/helper.hpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/recorder/__init__.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today
  .gitmodules
  CMakeLists.txt
  build_ext.py
  poetry.lock
  pyproject.toml
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/helper.hpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/recorder/__init__.py
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  CMakeLists.txt
  build_ext.py
  pyproject.toml
  pyxcp/cpp_ext/helper.hpp
  pyxcp/scripts/xcp_profile.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

constexpr Memblock
  pyxcp/cpp_ext/blockmem.hpp
  pyxcp/examples/run_daq.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  poetry.lock
  pyproject.toml
  pyxcp/examples/ex_arrow.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

timestamps
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/examples/run_daq.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/transport/base.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

timestamps
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/scripts/xcp_info.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  poetry.lock
  pyproject.toml
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/master/master.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
  pyxcp/scripts/xcp_info.py
  pyxcp/transport/base.py
  pyxcp/transport/base_transport.hpp
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/transport_wrapper.cpp
  pyxcp/types.py
  pyxcp/utils.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cpp_ext/helper.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/transport/base.py
  pyxcp/utils.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black
