Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: check-yaml
    name: check-yaml
    entry: check-yaml
    language: python
    types: [yaml]
    stages: [commit]
  - id: check-json
    name: check-json
    entry: check-json
    language: python
    types: [json]
    stages: [commit]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: python
    types: [toml]
    stages: [commit]
  - id: check-ast
    name: check-ast
    entry: check-ast
    language: python
    types: [python]
    stages: [commit]
  - id: check-builtin-literals
    name: check-builtin-literals
    entry: check-builtin-literals
    language: python
    types: [python]
    stages: [commit]
  - id: check-case-conflict
    name: check-case-conflict
    entry: check-case-conflict
    language: python
    types: [python]
    stages: [commit]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: python
    types: [text]
    stages: [commit]
  - id: fix-byte-order-marker
    name: fix-byte-order-marker
    entry: fix-byte-order-marker
    language: python
    types: [python]
    stages: [commit]
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: mixed-line-ending
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: trailing-whitespace-fixer
    name: trailing-whitespace-fixer
    entry: trailing-whitespace-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: reorder-python-imports
    name: reorder-python-imports
    entry: reorder-python-imports
    language: python
    types: [python]
    stages: [commit]
  - id: black
    name: black
    entry: black
    language: python
    types: [python]
    stages: [commit]
    #- id: flake8
    #name: flake8
    #entry: flake8
    #language: python
    #types: [python]
    #stages: [commit]
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
    always_run: true
    stages: [push]

today()
  pyxcp/cpp_ext/helper.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pyproject.toml
  pyxcp/cpp_ext/helper.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/transport/base.py
  pyxcp/transport/eth.py
  pyxcp/utils.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

constructors
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/utils.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  build_ext.py
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/helper.hpp
  pyxcp/examples/run_daq.py
  pyxcp/examples/xcp_recording.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/utils.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  CMakeLists.txt
  pyxcp/examples/ex_mdf.py
  pyxcp/recorder/wrap.cpp
  pyxcp/utils.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/examples/ex_arrow.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/examples/ex_arrow.py
  pyxcp/examples/ex_mdf.py
  pyxcp/utils.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  build_ext.py
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/ex_arrow.py
  pyxcp/examples/ex_mdf.py
  pyxcp/examples/ex_sqlite.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/examples/ex_arrow.py
  pyxcp/examples/ex_mdf.py
  pyxcp/examples/ex_sqlite.py
  pyxcp/examples/run_daq.py
  pyxcp/examples/xcp_recording.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/decoders.hpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/examples/ex_arrow.py
  pyxcp/examples/ex_mdf.py
  pyxcp/examples/ex_sqlite.py
  pyxcp/examples/run_daq.py
  pyxcp/examples/xcp_recording.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/decoders.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/examples/ex_arrow.py
  pyxcp/examples/ex_mdf.py
  pyxcp/examples/ex_sqlite.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix include
  pyxcp/recorder/unfolder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

fix scope
  CMakeLists.txt
  pyxcp/asamkeydll.c
  pyxcp/recorder/decoders.hpp
  pyxcp/recorder/writer.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today
  pyxcp/cpp_ext/helper.hpp
  pyxcp/examples/run_daq.py
  pyxcp/recorder/writer.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/writer.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix crash
  pyxcp/cpp_ext/helper.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/writer.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix python-can filters
  pyxcp/transport/candriver/python_can.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Some pyrigth fixes
  build_ext.py
  poetry.lock
  pyproject.toml
  pyxcp/cmdline.py
  pyxcp/config/__init__.py
  pyxcp/constants.py
  pyxcp/dllif.py
  pyxcp/examples/xcp_user_supplied_driver.py
  pyxcp/examples/xcphello.py
  pyxcp/master/master.py
  pyxcp/py.typed
  pyxcp/tests/test_can.py
  pyxcp/tests/test_config.py
  pyxcp/tests/test_frame_padding.py
  pyxcp/tests/test_master.py
  pyxcp/tests/test_transport.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

sleep fixes
  poetry.lock
  pyproject.toml
  pyxcp/__init__.py
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/master/master.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
  pyxcp/utils.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  .pre-commit-config.yaml
  CMakeLists.txt
  pyproject.toml
  pyxcp/cmdline.py
  pyxcp/daq_stim/linreg.hpp
  pyxcp/dllif.py
  pyxcp/examples/ex_arrow.py
  pyxcp/examples/ex_mdf.py
  pyxcp/examples/ex_sqlite.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/recorder/writer.hpp
  pyxcp/transport/base.py
  pyxcp/transport/sxi.py
  pyxcp/utils.py
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  .gitmodules
  .pdm.toml
  pyxcp/cxx/asynchiofactory.hpp
  pyxcp/cxx/blocking_client.cpp
  pyxcp/cxx/blocking_socket.cpp
  pyxcp/cxx/blocking_socket.hpp
  pyxcp/cxx/concurrent_queue.hpp
  pyxcp/cxx/eth.hpp
  pyxcp/cxx/exceptions.hpp
  pyxcp/cxx/iasyncioservice.hpp
  pyxcp/cxx/iresource.hpp
  pyxcp/cxx/isocket.hpp
  pyxcp/cxx/linux/epoll.cpp
  pyxcp/cxx/linux/epoll.hpp
  pyxcp/cxx/linux/lit_tester.cpp
  pyxcp/cxx/linux/socket.hpp
  pyxcp/cxx/linux/timeout.hpp
  pyxcp/cxx/memoryblock.hpp
  pyxcp/cxx/pool.hpp
  pyxcp/cxx/poolmgr.cpp
  pyxcp/cxx/poolmgr.hpp
  pyxcp/cxx/test_queue.cpp
  pyxcp/cxx/timestamp.hpp
  pyxcp/cxx/utils.cpp
  pyxcp/cxx/utils.hpp
  pyxcp/cxx/win/iocp.cpp
  pyxcp/cxx/win/iocp.hpp
  pyxcp/cxx/win/perhandledata.hpp
  pyxcp/cxx/win/periodata.hpp
  pyxcp/cxx/win/socket.hpp
  pyxcp/cxx/win/timeout.hpp
  pyxcp/transport/cxx_ext/CMakeLists.txt
  pyxcp/transport/cxx_ext/setup.py
  pyxcp/transport/cxx_ext/tests/test_basic_socket.cpp
  pyxcp/transport/cxx_ext/tests/test_pool.cpp
  pyxcp/transport/cxx_ext/tests/test_timestamp.cpp
  setup.cfg
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  .pre-commit-config.yaml
  CONTRIBUTORS
  build_ext.py
  docs/configuration.rst
  pyproject.toml
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/helper.hpp
  pyxcp/examples/run_daq.py
  pyxcp/scripts/xcp_fetch_a2l.py
  pyxcp/scripts/xcp_profile.py
  pyxcp/transport/base.py
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try to fix GH actions build
  .github/workflows/pythonapp.yml
  .github/workflows/testing.yml
  poetry.lock
  pyproject.toml
Due: check-yaml, check-toml

Bump version: 0.22.0 → 0.22.1
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

use pip as build frontend
  pyproject.toml
Due: check-toml

Optional build to temp-dir
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Optional build to temp-dir #2
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update build settings
  .github/workflows/pythonapp.yml
  build_ext.py
Due: check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Exclude Linux matrix build for now
  .github/workflows/pythonapp.yml
Due: check-yaml

Fix version info
  pyproject.toml
Due: check-toml

Try Linux builds
  .github/workflows/pythonapp.yml
  CMakeLists.txt
  pyproject.toml
Due: check-yaml, check-toml

Try Linux builds #2
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try Linux builds #3
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try Linux builds #4
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try Linux builds #5
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try Linux builds #6
  build_ext.py
  pyproject.toml
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try Linux builds #7
  build_ext.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black
