Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-ast
        name: check-ast
        entry: check-ast
        language: python
        types: [python]
        stages: [commit]
      - id: check-builtin-literals
        name: check-builtin-literals
        entry: check-builtin-literals
        language: python
        types: [python]
        stages: [commit]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [python]
        stages: [commit]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [text]
        stages: [commit]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [python]
        stages: [commit]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types_or: [c, c++, python]
        stages: [commit]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types_or: [python]
        stages: [commit]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        #- repo: https://github.com/necaris/pre-commit-pyright
        #rev: '1.1.53'
        #hooks:
        #- id: pyright

Bump version: 0.23.3 → 0.23.4
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update documentation
  docs/README.md
  docs/conf.py
  docs/index.md
  docs/index.rst
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add missing docs/README.rst
  docs/README.md
  docs/README.rst
  docs/index.rst
  docs/pyxcp_social.jpg
  pyproject.toml
Due: check-toml

Github actions: try build ARM7/32
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.23.5 → 0.23.6
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix README.rst
  docs/README.rst
Due: none

Github actions: try to build ELF/32
  build_ext.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.23.6 → 0.23.7
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update timestamping
  CMakeLists.txt
  docs/README.rst
  docs/index.rst
  docs/pyxcp_social.svg
  docs/pyxcp_social_dark.svg
  docs/recorder.rst
  pyxcp/examples/run_daq.py
  pyxcp/recorder/unfolder.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.23.7 → 0.23.8
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

DaqRecorderPolicy: Only run if initialized
  pyxcp/examples/run_daq.py
  pyxcp/recorder/unfolder.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

connect: Stop running DAQ-lists
  pyxcp/examples/run_daq.py
  pyxcp/master/master.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.23.8 → 0.23.9
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update error-message
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix: Corrected issue #233 with struct.pack() by previous check of struct.size
  .gitignore
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Additional mode for framing option to be compatible with different implementations
  pyxcp/config/__init__.py
  pyxcp/transport/sxi.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

framing.hpp: Fix offset issue.
  .idea/workspace.xml
  pyxcp/cpp_ext/framing.hpp
Due: mixed-line-ending

aligned_buffer.hpp: Portability fixes.
  .idea/workspace.xml
  pyxcp/cpp_ext/aligned_buffer.hpp
Due: mixed-line-ending

Add PredefinedDaqList
  pyproject.toml
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/examples/run_daq.py
  pyxcp/master/master.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

DaqList: Add 'predefined_list' parameter
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/recorder/unfolder.hpp
Due: mixed-line-ending

Fix string escaping issue
  pyxcp/cpp_ext/daqlist.hpp
Due: mixed-line-ending

Update framing
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/framing.hpp
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update serialisation methods
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Small fixes
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix merge conflict
  .idea/workspace.xml
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update deserialization code
  .idea/workspace.xml
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/master/master.py
  pyxcp/recorder/unfolder.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update SxI
  pyxcp/transport/sxi.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add .idea/workspace.xml
  .idea/workspace.xml
Due: none

Update framing stuff
  .idea/workspace.xml
  .pre-commit-config.yaml
  pyxcp/cpp_ext/aligned_buffer.hpp
  pyxcp/cpp_ext/bin.hpp
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/cpp_ext/sxi_framing.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/master/errorhandler.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/transport/can.py
  pyxcp/transport/sxi.py
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

framing.hpp: Add overload for prepare_request
  pyxcp/cpp_ext/framing.hpp
Due: mixed-line-ending

Update framing
  .idea/workspace.xml
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/sxi_framing.hpp
Due: mixed-line-ending

Fix checksum handling
  pyxcp/cpp_ext/framing.hpp
  pyxcp/transport/sxi.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add counter_send property
  .idea/workspace.xml
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/framing.hpp
Due: mixed-line-ending

sxi_framing.hpp: Make checksum error-message more friendly.
  pyxcp/cpp_ext/sxi_framing.hpp
Due: mixed-line-ending

Add test_framing.py
  pyxcp/tests/test_framing.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Re-implement policies in C++
  .idea/workspace.xml
  CMakeLists.txt
  pyxcp/cpp_ext/sxi_framing.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/xcp_policy.py
  pyxcp/recorder/__init__.py
  pyxcp/tests/test_framing.py
  pyxcp/transport/base.py
  pyxcp/transport/transport_ext.hpp
  pyxcp/transport/transport_wrapper.cpp
  pyxcp/types.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade
