Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: check-yaml
    name: check-yaml
    entry: check-yaml
    language: python
    types: [yaml]
    stages: [commit]
  - id: check-json
    name: check-json
    entry: check-json
    language: python
    types: [json]
    stages: [commit]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: python
    types: [toml]
    stages: [commit]
  - id: check-ast
    name: check-ast
    entry: check-ast
    language: python
    types: [python]
    stages: [commit]
  - id: check-builtin-literals
    name: check-builtin-literals
    entry: check-builtin-literals
    language: python
    types: [python]
    stages: [commit]
  - id: check-case-conflict
    name: check-case-conflict
    entry: check-case-conflict
    language: python
    types: [python]
    stages: [commit]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: python
    types: [text]
    stages: [commit]
  - id: fix-byte-order-marker
    name: fix-byte-order-marker
    entry: fix-byte-order-marker
    language: python
    types: [python]
    stages: [commit]
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: mixed-line-ending
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: trailing-whitespace-fixer
    name: trailing-whitespace-fixer
    entry: trailing-whitespace-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: reorder-python-imports
    name: reorder-python-imports
    entry: reorder-python-imports
    language: python
    types: [python]
    stages: [commit]
  - id: black
    name: black
    entry: black
    language: python
    types: [python]
    stages: [commit]
    #- id: flake8
    #name: flake8
    #entry: flake8
    #language: python
    #types: [python]
    #stages: [commit]
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
    always_run: true
    stages: [push]

Bump version: 0.18.44 → 0.18.45
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Install rust on Linux build
  pyproject.toml
Due: check-toml

Fixes from pre-commit
  pyxcp/checksum.py
  pyxcp/examples/xcp_read_benchmark.py
  pyxcp/examples/xcptest.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/recorder/reco.py
  pyxcp/recorder/recorder.py
  pyxcp/recorder/test_reko.py
  pyxcp/tests/test_can.py
  pyxcp/tests/test_master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try to fix Linux build, again ....
  pyproject.toml
Due: check-toml

Stop supporting Py3.6
  README.md
  pyproject.toml
Due: check-toml

Bump version: 0.18.45 → 0.18.46
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Disable Ubuntu build
  .github/workflows/pythonapp.yml
Due: check-yaml

python-can dependency was missing
  .pdm.toml
  pyproject.toml
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

More type annotations
  pyxcp/constants.py
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.46 → 0.18.47
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add uptime requirement (python-can)
  pyproject.toml
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add pyxcp-probe-can-drivers script
  pyproject.toml
  pyxcp/scripts/__init__.py
  pyxcp/scripts/pyxcp_probe_can_drivers.py
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.47 → 0.18.48
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Remove sdist.yml workflow
  .github/workflows/sdist.yml
Due: check-yaml

avoid TypeError: '<' not supported between instances of 'str' and 'int' in setup_helpers.py from pybin11 for MAC OS
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Make dllif more robust
  pyxcp/dllif.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update pyproject.toml
  pyproject.toml
Due: check-toml

Bump version: 0.18.48 → 0.18.49
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix conf_eth.toml
  pyxcp/examples/conf_eth.toml
  pyxcp/examples/xcptest.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.49 → 0.18.50
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Remove copyright notice from C++ files. fixes #93
  .gitignore
  pyxcp/cxx/asynchiofactory.hpp
  pyxcp/cxx/blocking_socket.cpp
  pyxcp/cxx/blocking_socket.hpp
  pyxcp/cxx/concurrent_queue.hpp
  pyxcp/cxx/eth.hpp
  pyxcp/cxx/exceptions.hpp
  pyxcp/cxx/iasyncioservice.hpp
  pyxcp/cxx/iresource.hpp
  pyxcp/cxx/isocket.hpp
  pyxcp/cxx/linux/epoll.cpp
  pyxcp/cxx/linux/epoll.hpp
  pyxcp/cxx/linux/socket.hpp
  pyxcp/cxx/linux/timeout.hpp
  pyxcp/cxx/memoryblock.hpp
  pyxcp/cxx/pool.hpp
  pyxcp/cxx/poolmgr.cpp
  pyxcp/cxx/poolmgr.hpp
  pyxcp/cxx/timestamp.hpp
  pyxcp/cxx/utils.cpp
  pyxcp/cxx/utils.hpp
  pyxcp/cxx/win/iocp.cpp
  pyxcp/cxx/win/iocp.hpp
  pyxcp/cxx/win/perhandledata.hpp
  pyxcp/cxx/win/periodata.hpp
  pyxcp/cxx/win/socket.hpp
  pyxcp/cxx/win/timeout.hpp
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Some new CAN drivers
  pyxcp/transport/candriver/pc_etas.py
  pyxcp/transport/candriver/pc_gsusb.py
  pyxcp/transport/candriver/pc_seeed.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add GET_ID scanner
  .github/FUNDING.yml
  pyproject.toml
  pyxcp/examples/conf_eth.toml
  pyxcp/master/master.py
  pyxcp/scripts/xcp_id_scanner.py
  setup.py
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.50 → 0.18.51
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

- replace cxx_std value to intergerinstead of string in build_ext and recorder/setup.py
  build_ext.py
  pyxcp/recorder/setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

recorder extension: Update language standard to C++20
  .github/workflows/testing.yml
  build_ext.py
  pyxcp/checksum.py
  pyxcp/config.py
  pyxcp/recorder/recorder.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/setup.py
  pyxcp/recorder/wrap.cpp
Due: check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.51 → 0.18.52
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix typo
  pyxcp/recorder/wrap.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

pyproject.toml: Add setuptools requirement
  pyproject.toml
Due: check-toml

pyproject.toml: Remove version requirement for setuptools
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-yaml, check-toml

Update master.py
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Initial commit on branch
  pyproject.toml
  pyxcp/config.py
  requirements.txt
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

setup.py: Fix C++ standard
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try to fix build
  .pdm.toml
  pyproject.toml
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try to fix build
  pyproject.toml
Due: check-toml

Try to fix build
  pyproject.toml
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix Github Actions build
  pyproject.toml
Due: check-toml

Fix Github Actions build
  .github/workflows/pythonapp.yml
Due: check-yaml

Fix Github Actions build
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black
