Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: check-yaml
    name: check-yaml
    entry: check-yaml
    language: python
    types: [yaml]
    stages: [commit]
  - id: check-json
    name: check-json
    entry: check-json
    language: python
    types: [json]
    stages: [commit]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: python
    types: [toml]
    stages: [commit]
  - id: check-ast
    name: check-ast
    entry: check-ast
    language: python
    types: [python]
    stages: [commit]
  - id: check-builtin-literals
    name: check-builtin-literals
    entry: check-builtin-literals
    language: python
    types: [python]
    stages: [commit]
  - id: check-case-conflict
    name: check-case-conflict
    entry: check-case-conflict
    language: python
    types: [python]
    stages: [commit]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: python
    types: [text]
    stages: [commit]
  - id: fix-byte-order-marker
    name: fix-byte-order-marker
    entry: fix-byte-order-marker
    language: python
    types: [python]
    stages: [commit]
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: mixed-line-ending
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: trailing-whitespace-fixer
    name: trailing-whitespace-fixer
    entry: trailing-whitespace-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: reorder-python-imports
    name: reorder-python-imports
    entry: reorder-python-imports
    language: python
    types: [python]
    stages: [commit]
  - id: black
    name: black
    entry: black
    language: python
    types: [python]
    stages: [commit]
    #- id: flake8
    #name: flake8
    #entry: flake8
    #language: python
    #types: [python]
    #stages: [commit]
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
    always_run: true
    stages: [push]

today()
  pyxcp/__init__.py
  pyxcp/cmdline.py
  pyxcp/config/__init__.py
  pyxcp/config/legacy.py
  pyxcp/examples/conf_can.toml
  pyxcp/examples/conf_eth.toml
  pyxcp/logger.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/stim/stim_wrapper.cpp
  pyxcp/tests/test_master.py
  pyxcp/transport/__init__.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/candriver/python_can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
  requirements.txt
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/bin.hpp
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/daq_stim/optimize/__init__.py
  pyxcp/daq_stim/optimize/binpacking.py
  pyxcp/examples/xcp_policy.py
  pyxcp/master/errorhandler.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/setup.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
  pyxcp/tests/test_binpacking.py
  pyxcp/tests/test_daq.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Restructure
  pyproject.toml
  pyxcp/daq_stim/scheduler.cpp
  pyxcp/daq_stim/scheduler.hpp
  pyxcp/daq_stim/stim.cpp
  pyxcp/daq_stim/stim.hpp
  pyxcp/daq_stim/stim_wrapper.cpp
  pyxcp/master/master.py
  pyxcp/stim/do.cmd
  pyxcp/stim/main.cpp
  pyxcp/stim/run.cmd
  pyxcp/stim/setup.py
  setup.cfg
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cmdline.py
  pyxcp/config/__init__.py
  pyxcp/cpp_ext/blockmem.hpp
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/event.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/cpp_ext/tsqueue.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/daq_stim/stim.cpp
  pyxcp/daq_stim/stim.hpp
  pyxcp/daq_stim/stim_wrapper.cpp
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/transport/base.py
  pyxcp/utils.py
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

restring counter value to UINT32
  pyxcp/transport/can.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cpp_ext/helper.hpp
  pyxcp/recorder/unfolder.hpp
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.21.6 → 0.21.7
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Upload commands: consider address granularity and padding.
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.21.7 → 0.21.8
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

add the USB library path as optional configuration parameter for the usb_transport
  .bumpversion.cfg
  pyxcp/__init__.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

pyproject.toml __version__ needs to be updated as well
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyproject.toml
  pyxcp/__init__.py
  pyxcp/config/__init__.py
  pyxcp/config/legacy.py
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/daq_stim/linreg.hpp
  pyxcp/daq_stim/scheduler.hpp
  pyxcp/daq_stim/stim.hpp
  pyxcp/daq_stim/stim_wrapper.cpp
  pyxcp/dllif.py
  pyxcp/examples/conf_can_vector.toml
  pyxcp/examples/conf_eth.toml
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/scripts/xcp_info.py
  pyxcp/tests/test_can.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/usb_transport.py
  pyxcp/types.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/config/__init__.py
  pyxcp/config/legacy.py
  pyxcp/daq_stim/stim.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/scripts/xcp_info.py
  pyxcp/transport/can.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  CONTRIBUTORS
  pyxcp/config/__init__.py
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/scripts/xcp_info.py
  pyxcp/transport/can.py
  pyxcp/transport/candriver/__init__.py
  pyxcp/transport/candriver/pc_canalystii.py
  pyxcp/transport/candriver/pc_etas.py
  pyxcp/transport/candriver/pc_gsusb.py
  pyxcp/transport/candriver/pc_iscan.py
  pyxcp/transport/candriver/pc_ixxat.py
  pyxcp/transport/candriver/pc_kvaser.py
  pyxcp/transport/candriver/pc_neovi.py
  pyxcp/transport/candriver/pc_nican.py
  pyxcp/transport/candriver/pc_nixnet.py
  pyxcp/transport/candriver/pc_pcan.py
  pyxcp/transport/candriver/pc_seeed.py
  pyxcp/transport/candriver/pc_serial.py
  pyxcp/transport/candriver/pc_slcan.py
  pyxcp/transport/candriver/pc_socketcan.py
  pyxcp/transport/candriver/pc_systec.py
  pyxcp/transport/candriver/pc_usb2can.py
  pyxcp/transport/candriver/pc_vector.py
  pyxcp/transport/candriver/python_can.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Build extensions
  build_ext.py
  pyproject.toml
  pyxcp/daq_stim/scheduler.cpp
  pyxcp/daq_stim/scheduler.hpp
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix MacOS
  pyxcp/daq_stim/scheduler.hpp
  pyxcp/daq_stim/stim.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

MacOS patches
  pyxcp/dllif.py
  pyxcp/examples/run_daq.py
  pyxcp/scripts/xcp_id_scanner.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix compilation issues
  build_ext.py
  poetry.lock
  pyproject.toml
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/daq_stim/stim.cpp
  pyxcp/daq_stim/stim.hpp
  pyxcp/daq_stim/stim_wrapper.cpp
  pyxcp/recorder/unfolder.hpp
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add float16 support
  pyxcp/cpp_ext/bin.hpp
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

today()
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Small fixes
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/daq_stim/stim.hpp
  pyxcp/recorder/unfolder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

fix cond_unlock for keys that do not fit in a single unlock message
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
  pyxcp/master/master.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

improve getting the seed in cond_unlock
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  build_ext.py
  poetry.lock
  pyxcp/aml/EtasCANMonitoring.a2l
  pyxcp/aml/XCP_Common.aml
  pyxcp/aml/XCPonUSB.aml
  pyxcp/aml/ifdata_CAN.a2l
  pyxcp/aml/ifdata_Eth.a2l
  pyxcp/aml/ifdata_Flx.a2l
  pyxcp/aml/ifdata_SxI.a2l
  pyxcp/aml/ifdata_USB.a2l
  pyxcp/cmdline.py
  pyxcp/cpp_ext/bin.hpp
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/daq_stim/optimize/binpacking.py
  pyxcp/daq_stim/scheduler.cpp
  pyxcp/examples/conf_can.json
  pyxcp/examples/conf_can_vector.json
  pyxcp/examples/conf_eth.json
  pyxcp/examples/conf_nixnet.json
  pyxcp/examples/conf_sxi.json
  pyxcp/examples/run_daq.py
  pyxcp/examples/xcp_policy.py
  pyxcp/examples/xcphello.py
  pyxcp/examples/xcphello_recorder.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/reco.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
  pyxcp/scripts/xcp_id_scanner.py
  pyxcp/scripts/xcp_info.py
  pyxcp/transport/base.py
  pyxcp/transport/cxx_ext/setup.py
  pyxcp/transport/eth.py
  pyxcp/utils.py
  setup.py
Due: check-json, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Examples and refactor logging
  docs/configuration.rst
  pyxcp/cmdline.py
  pyxcp/logger.py
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Import fix and header inconsistency
  docs/configuration.rst
  pyxcp/master/master.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update testing.yml
  .github/workflows/testing.yml
Due: check-yaml

Bugfix in daq list measurement with python-can - tested
  pyxcp/examples/conf_can.json
  pyxcp/examples/conf_can.toml
  pyxcp/transport/base.py
  pyxcp/transport/can.py
Due: check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/config.py
  pyxcp/config/__init__.py
  pyxcp/examples/conf_eth.json
Due: check-json, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update 'xcp_info' scripts
  pyxcp/master/master.py
  pyxcp/scripts/xcp_info.py
  pyxcp/types.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.21.10 → 0.21.11
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  .pre-commit-config.yaml
  pyxcp/cpp_ext/bin.hpp
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/helper.hpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/errormatrix.py
  pyxcp/examples/conf_can.json
  pyxcp/examples/run_daq.py
  pyxcp/master/master.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
  pyxcp/scripts/xcp_info.py
  pyxcp/transport/can.py
  pyxcp/transport/sxi.py
  pyxcp/types.py
Due: check-yaml, check-json, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/examples/run_daq.py
  pyxcp/scripts/xcp_profile.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/daq_stim/__init__.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/writer.hpp
  pyxcp/transport/sxi.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  build_ext.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/lz4.c
  pyxcp/recorder/lz4.h
  pyxcp/recorder/lz4hc.c
  pyxcp/recorder/lz4hc.h
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

64bit patch
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black
