Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python
  stages:
  - commit

check-json:
  name: check-json
  entry: check-json
  language: python
  stages:
  - commit

check-toml:
  name: check-toml
  entry: check-toml
  language: python
  stages:
  - commit

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

trailing-whitespace-fixer:
  name: trailing-whitespace-fixer
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - commit

reorder-python-imports:
  name: reorder-python-imports
  entry: reorder-python-imports
  language: python
  stages:
  - commit

black:
  name: black
  entry: black
  language: python
  stages:
  - commit

Bump version: 0.18.16 → 0.18.17
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Factor out sdist build and deploy to sdist.yml
  .github/workflows/pythonapp.yml
  .github/workflows/sdist.yml
Due: check-yaml

Bump version: 0.18.17 → 0.18.18
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Disable cibuildwheel action
  .github/workflows/pythonapp.yml
Due: check-yaml

Bump version: 0.18.18 → 0.18.19
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Disable pre_commit Github action for now
  .github/workflows/pythonapp.yml
Due: check-yaml

Format with autopep8
  .pre-commit-config.yaml
  pyxcp/examples/xcp_read_benchmark.py
  pyxcp/examples/xcp_skel.py
  pyxcp/examples/xcp_unlock.py
  pyxcp/examples/xcp_user_supplied_driver.py
  pyxcp/examples/xcptest.py
  pyxcp/master/errorhandler.py
  pyxcp/transport/eth.py
  pyxcp/transport/usb_transport.py
  pyxcp/utils.py
Due: check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.19 → 0.18.20
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Remove pre_commit dependencies
  .github/workflows/pythonapp.yml
Due: check-yaml

Try cibuildwheel without pyproject.toml
  .github/workflows/pythonapp.yml
  README.md
  pyproject.toml
  pyxcp/recorder/recorder.py
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.20 → 0.18.21
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update CONTRIBUTORS
  CONTRIBUTORS
  ls-contributors.sh
Due: none

Rename lz4.c to lz4.cpp
  pyxcp/recorder/build.sh
  pyxcp/recorder/lz4.cpp
  pyxcp/recorder/recorder.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/setup.py
  pyxcp/recorder/wrap.cpp
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.21 → 0.18.22
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Use cxx_std option
  pyxcp/recorder/setup.py
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix initialization
  pyxcp/recorder/build.sh
  pyxcp/recorder/recorder.py
  pyxcp/recorder/rekorder.hpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.22 → 0.18.23
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Prepare for multi-processing
  pyxcp/recorder/recorder.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/wrap.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update rekorder
  _setup.py
  pyxcp/recorder/recorder.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/wrap.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Switch to PDM build tool
  .pdm.toml
  .pre-commit-config.yaml
  pyproject.toml
  pyxcp/checksum.py
  pyxcp/cmdline.py
  pyxcp/dllif.py
  pyxcp/examples/xcptest.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/recorder/reco.py
  pyxcp/recorder/recorder.py
  pyxcp/recorder/test_reko.py
  pyxcp/tests/test_can.py
  pyxcp/tests/test_master.py
  pyxcp/timing.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/candriver/python_can.py
  pyxcp/transport/cxx_ext/setup.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
  pyxcp/types.py
  pyxcp/utils.py
  setup.cfg
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Rename _setup.py to setup.py
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update build configuration
  .github/workflows/pythonapp.yml
  .pre-commit-config.yaml
  pyproject.toml
  pyxcp/recorder/recorder.py
  selective_tests.py
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.23 → 0.18.24
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Remove build/ dir before cibuildwheel
  .github/workflows/pythonapp.yml
Due: check-yaml

Bump version: 0.18.24 → 0.18.25
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Move testing stuff to separate action
  .github/workflows/testing.yml
Due: check-yaml

--amend
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-yaml, check-toml

Bump version: 0.18.25 → 0.18.26
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Make pybind11 a build requirement
  pyproject.toml
Due: check-toml

Bump version: 0.18.26 → 0.18.27
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try to fix build environment
  .github/workflows/pythonapp.yml
  .github/workflows/testing.yml
  pyproject.toml
Due: check-yaml, check-toml

Bump version: 0.18.27 → 0.18.28
  .bumpversion.cfg
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update pyproject.toml
  .bumpversion.cfg
  pyproject.toml
Due: check-toml

Bump version: 0.18.28 → 0.18.29
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update build cfg
  .github/workflows/pythonapp.yml
  pyproject.toml
  setup.cfg
  setup.py
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.29 → 0.18.30
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

build_frontend must be build-frontend
  pyproject.toml
Due: check-toml

Bump version: 0.18.30 → 0.18.31
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try {package} instead of {project}
  pyproject.toml
Due: check-toml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  trailing-whitespace-fixer: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  reorder-python-imports: any of: \.py$
  black: any of: \.py$
