Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: check-yaml
    name: check-yaml
    entry: check-yaml
    language: python
    types: [yaml]
    stages: [commit]
  - id: check-json
    name: check-json
    entry: check-json
    language: python
    types: [json]
    stages: [commit]
  - id: check-toml
    name: check-toml
    entry: check-toml
    language: python
    types: [toml]
    stages: [commit]
  - id: check-ast
    name: check-ast
    entry: check-ast
    language: python
    types: [python]
    stages: [commit]
  - id: check-builtin-literals
    name: check-builtin-literals
    entry: check-builtin-literals
    language: python
    types: [python]
    stages: [commit]
  - id: check-case-conflict
    name: check-case-conflict
    entry: check-case-conflict
    language: python
    types: [python]
    stages: [commit]
  - id: check-merge-conflict
    name: check-merge-conflict
    entry: check-merge-conflict
    language: python
    types: [text]
    stages: [commit]
  - id: fix-byte-order-marker
    name: fix-byte-order-marker
    entry: fix-byte-order-marker
    language: python
    types: [python]
    stages: [commit]
  - id: mixed-line-ending
    name: mixed-line-ending
    entry: mixed-line-ending
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: end-of-file-fixer
    name: end-of-file-fixer
    entry: end-of-file-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: trailing-whitespace-fixer
    name: trailing-whitespace-fixer
    entry: trailing-whitespace-fixer
    language: python
    types_or: [c, c++, python]
    stages: [commit]
  - id: reorder-python-imports
    name: reorder-python-imports
    entry: reorder-python-imports
    language: python
    types: [python]
    stages: [commit]
  - id: black
    name: black
    entry: black
    language: python
    types: [python]
    stages: [commit]
    #- id: flake8
    #name: flake8
    #entry: flake8
    #language: python
    #types: [python]
    #stages: [commit]
  - id: pytest-check
    name: pytest-check
    entry: pytest
    language: system
    pass_filenames: false
    always_run: true
    stages: [push]

Bind to concrete IPV6 address
  docs/recorder.rst
  pyxcp/transport/eth.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

:NEW: Transport-layer now uses configurable policies.
  pyxcp/cmdline.py
  pyxcp/examples/xcp_policy.py
  pyxcp/master/master.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/transport/__init__.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
  pyxcp/types.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix DLL interface
  pyxcp/asamkeydll.c
  pyxcp/dllif.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

:New: policy based frame handling.
  pyxcp/examples/xcphello_recorder.py
  pyxcp/master/master.py
  pyxcp/recorder/lz4.h
  pyxcp/recorder/rekorder.cpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/transport/__init__.py
  pyxcp/transport/base.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.20.4 → 0.21.0
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix recorder extension.
  build_ext.py
  pyxcp/recorder/lz4.c
  pyxcp/recorder/lz4hc.c
  pyxcp/recorder/lz4hc.h
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.21.0 → 0.21.1
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Switch back to reinterpret_cast<>
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

can.py: stripIdentifier() mask out 3 MSBs
  pyxcp/tests/test_can.py
  pyxcp/transport/can.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.21.1 → 0.21.2
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Replace fixed decodings, like 'latin-1', with a chardet based function.
  pyproject.toml
  pyxcp/examples/xcphello.py
  pyxcp/examples/xcphello_recorder.py
  pyxcp/master/master.py
  pyxcp/utils.py
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Replace fixed decodings, like 'latin-1', with a chardet based function.
  pyproject.toml
  pyxcp/utils.py
  requirements.txt
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add CAN transport layer commands.
  pyxcp/master/master.py
  pyxcp/types.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.21.2 → 0.21.3
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update errormatrix.py
  pyxcp/errormatrix.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Allow build on macOS
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Update setup.py
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update pythonapp.yml (enable MacOS build)
  .github/workflows/pythonapp.yml
Due: check-yaml

Update pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml

Tuple unpacking without const& qualifier.
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

recorder: std::optional not really required.
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Bump version: 0.21.3 → 0.21.4
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/bin.hpp
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/cpp_ext/mcobject.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/daq_stim/optimize/__init__.py
  pyxcp/daq_stim/optimize/binpacking.py
  pyxcp/examples/xcp_policy.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/setup.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  pyxcp/recorder/writer.hpp
  pyxcp/tests/test_binpacking.py
  pyxcp/tests/test_daq.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cpp_ext/__init__.py
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/daq_stim/optimize/__init__.py
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
  requirements.txt
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Support Python 3.12
  .github/workflows/pythonapp.yml
  .github/workflows/testing.yml
  pyproject.toml
  setup.py
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.21.4 → 0.21.5
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

fix reconnect in transport
  pyxcp/transport/base.py
  pyxcp/transport/eth.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/daq_stim/__init__.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

bumpversion 0.21.5 -> 0.21.6
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update PyPI auth information
  .github/workflows/pythonapp.yml
Due: check-yaml

STIM initial
  pyxcp/master/master.py
  pyxcp/stim/stim.cpp
  pyxcp/stim/stim.hpp
  pyxcp/stim/stim_wrapper.cpp
  pyxcp/types.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Today()
  pyxcp/master/master.py
  pyxcp/stim/scheduler.cpp
  pyxcp/stim/scheduler.hpp
  pyxcp/stim/stim.cpp
  pyxcp/stim/stim.hpp
  pyxcp/stim/stim_wrapper.cpp
  pyxcp/transport/base.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add .clang-format
  .clang-format
Due: none

run pre-commit
  pyxcp/dllif.py
  pyxcp/errormatrix.py
  pyxcp/logger.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/scripts/xcp_fetch_a2l.py
  pyxcp/stim/__init__.py
  pyxcp/stim/do.cmd
  pyxcp/stim/main.cpp
  pyxcp/stim/run.cmd
  pyxcp/stim/scheduler.cpp
  pyxcp/stim/scheduler.hpp
  pyxcp/stim/setup.py
  pyxcp/stim/stim.cpp
  pyxcp/stim/stim.hpp
  pyxcp/stim/stim_wrapper.cpp
  pyxcp/tests/test_asam_types.py
  pyxcp/tests/test_can.py
  pyxcp/tests/test_checksum.py
  pyxcp/tests/test_config.py
  pyxcp/tests/test_master.py
  pyxcp/tests/test_transport.py
  pyxcp/tests/test_utils.py
  pyxcp/timing.py
  pyxcp/transport/base.py
  pyxcp/transport/candriver/pc_pcan.py
  pyxcp/transport/candriver/python_can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
  pyxcp/types.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/master/master.py
  pyxcp/stim/stim.hpp
  pyxcp/stim/stim_wrapper.cpp
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Cherry-picking commit
  pyxcp/master/master.py
  pyxcp/utils.py
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/config/__init__.py
  pyxcp/config/legacy.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  pyxcp/cmdline.py
  pyxcp/config/__init__.py
  pyxcp/config/legacy.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

today()
  .github/workflows/pythonapp.yml
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/daq_stim/__init__.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/mio.hpp
  pyxcp/recorder/rekorder.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
Due: check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black
