Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -c
  - bandit.yml

black:
  name: black
  entry: black
  language: system
  require_serial: true

ruff:
  name: ruff
  entry: ruff
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-json:
  name: check-json
  entry: check-json
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --darglint-ignore-regex
  - .*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

Bump version: 0.22.18 → 0.22.19
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update pyproject.toml
  pyproject.toml
Due: check-toml

Try manylinux image from Python 3.9 #1
  pyproject.toml
Due: check-toml

Bump version: 0.22.19 → 0.22.20
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

try manylinux builds without overrides
  pyproject.toml
Due: check-toml

Bump version: 0.22.19 → 0.22.20
  .github/workflows/pythonapp.yml
Due: check-yaml

Bump version: 0.22.20 → 0.22.21
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Use logging.getLogger()
  pyxcp/master/master.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.21 → 0.22.22
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Check for DAQ
  .github/workflows/pythonapp.yml
  poetry.lock
  pyxcp/daq_stim/__init__.py
  pyxcp/scripts/xcp_info.py
Due: bandit, black, ruff, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.22 → 0.22.23
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add priority and prescaler arguments to DaqList
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/master/master.py
  pyxcp/types.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.23 → 0.22.24
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

getDaqInfo(): retrieval of event list information can be skipped
  pyxcp/daq_stim/__init__.py
  pyxcp/daq_stim/stim_wrapper.cpp
  pyxcp/master/master.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.24 → 0.22.25
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Move examples code to recorder/converter
  pyxcp/examples/ex_arrow.py
  pyxcp/examples/ex_csv.py
  pyxcp/examples/ex_excel.py
  pyxcp/examples/ex_mdf.py
  pyxcp/examples/ex_sqlite.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/__init__.py
  pyxcp/recorder/converter/__init__.py
  pyxcp/types.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add connect_retries configuration parameter
  poetry.lock
  pyxcp/config/__init__.py
  pyxcp/master/errorhandler.py
  pyxcp/recorder/converter/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.25 → 0.22.26
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add xmraw_converter script
  pyproject.toml
  pyxcp/scripts/xmraw_converter.py
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.26 → 0.22.27
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bugfix in daq list measurement with python-can - tested
  pyxcp/examples/conf_can.json
  pyxcp/examples/conf_can.toml
  pyxcp/transport/base.py
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-toml, check-json, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix python-can and add daq lists fix
  pyxcp/errormatrix.py
  pyxcp/examples/xcp_read_benchmark.py
  pyxcp/logger.py
  pyxcp/master/errorhandler.py
  pyxcp/scripts/xcp_fetch_a2l.py
  pyxcp/tests/test_asam_types.py
  pyxcp/tests/test_can.py
  pyxcp/tests/test_checksum.py
  pyxcp/tests/test_config.py
  pyxcp/tests/test_master.py
  pyxcp/tests/test_transport.py
  pyxcp/tests/test_utils.py
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/candriver/pc_canalystii.py
  pyxcp/transport/candriver/pc_etas.py
  pyxcp/transport/candriver/pc_gsusb.py
  pyxcp/transport/candriver/pc_iscan.py
  pyxcp/transport/candriver/pc_ixxat.py
  pyxcp/transport/candriver/pc_kvaser.py
  pyxcp/transport/candriver/pc_neovi.py
  pyxcp/transport/candriver/pc_nican.py
  pyxcp/transport/candriver/pc_nixnet.py
  pyxcp/transport/candriver/pc_pcan.py
  pyxcp/transport/candriver/pc_seeed.py
  pyxcp/transport/candriver/pc_serial.py
  pyxcp/transport/candriver/pc_slcan.py
  pyxcp/transport/candriver/pc_socketcan.py
  pyxcp/transport/candriver/pc_systec.py
  pyxcp/transport/candriver/pc_usb2can.py
  pyxcp/transport/candriver/pc_vector.py
  pyxcp/transport/candriver/python_can.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
  st.txt
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

checksum.py: Add padding
  poetry.lock
  pyproject.toml
  pyxcp/checksum.py
  pyxcp/examples/run_daq.py
  pyxcp/scripts/xcp_info.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.27 → 0.22.28
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Avoid blocking ports when hanging in timeout
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Move transport layer connect() to context manager
  pyxcp/master/master.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.28 → 0.22.29
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

fetch: cut excess bytes
  pyxcp/master/master.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add enum_from_str function
  pyxcp/utils.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

CAN driver: None check for name AND value
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.29 → 0.22.30
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix block_request
  pyxcp/master/master.py
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.22.30 → 0.22.31
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

McObject: Add missing __eq__ method
  pyxcp/cpp_ext/extension_wrapper.cpp
Due: mixed-line-ending

Add bin-packing tests.
  pyxcp/tests/test_daq_opt.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Naming of timestamp columns was inconsistent.
  pyxcp/daq_stim/__init__.py
  pyxcp/recorder/converter/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update tests
  pyxcp/tests/test_master.py
  pyxcp/tests/test_transport.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update SxI log messages
  pyxcp/transport/sxi.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Fix programReset
  pyxcp/master/master.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  bandit: any of: \.py$
  black: any of: \.py$
  ruff: any of: \.py$
  check-toml: any of: \.toml$
  check-json: any of: \.json$
  check-yaml: any of: \.(yaml|yml)$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
