Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, ruff, check-toml, check-json, check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [python]
        require_serial: true
        args: ["-c", "bandit.yml"]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: ruff
        name: ruff
        entry: ruff
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: check-ast
        name: check-ast
        entry: check-ast
        language: python
        types: [python]
        stages: [commit]
      - id: check-builtin-literals
        name: check-builtin-literals
        entry: check-builtin-literals
        language: python
        types: [python]
        stages: [commit]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: python
        types: [python]
        stages: [commit]
      - id: check-merge-conflict
        name: check-merge-conflict
        entry: check-merge-conflict
        language: python
        types: [text]
        stages: [commit]
      - id: fix-byte-order-marker
        name: fix-byte-order-marker
        entry: fix-byte-order-marker
        language: python
        types: [python]
        stages: [commit]
      - id: mixed-line-ending
        name: mixed-line-ending
        entry: mixed-line-ending
        language: python
        types_or: [c, c++, python]
        stages: [commit]
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types_or: [python]
        stages: [commit]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args: [--darglint-ignore-regex, .*]
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py38-plus]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier
        #- repo: https://github.com/necaris/pre-commit-pyright
        #rev: '1.1.53'
        #hooks:
        #- id: pyright

Updated modules
  pyxcp/tests/test_framing.py
  pyxcp/transport/__init__.py
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Move bindings to transport_wrapper.cpp
  .idea/workspace.xml
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/tests/test_framing.py
  pyxcp/transport/base.py
  pyxcp/transport/sxi.py
  pyxcp/transport/transport_wrapper.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

DaqList: Add 'predefined_list' parameter
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/recorder/unfolder.hpp
Due: mixed-line-ending

Update error-message
  pyxcp/transport/base.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add PredefinedDaqList
  pyproject.toml
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/examples/run_daq.py
  pyxcp/master/master.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add PredefinedDaqList
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
Due: mixed-line-ending

Fix string escaping issue
  pyxcp/cpp_ext/daqlist.hpp
Due: mixed-line-ending

Update serialisation methods
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
  pyxcp/daq_stim/__init__.py
  pyxcp/examples/run_daq.py
  pyxcp/recorder/reader.hpp
  pyxcp/recorder/unfolder.hpp
  pyxcp/recorder/wrap.cpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add PredefinedDaqList
  .idea/workspace.xml
  pyxcp/cpp_ext/daqlist.hpp
  pyxcp/cpp_ext/extension_wrapper.cpp
Due: mixed-line-ending

Update serialisation methods
  pyxcp/daq_stim/__init__.py
  pyxcp/recorder/unfolder.hpp
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

XCP framing now in C++
  pyxcp/cpp_ext/framing.hpp
  pyxcp/transport/base.py
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

New framing format handling
  pyxcp/cpp_ext/aligned_buffer.hpp
Due: mixed-line-ending

aligned_buffer.hpp: Portability fixes.
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update framing stuff
  pyxcp/cpp_ext/sxi_framing.hpp
  pyxcp/daq_stim/__init__.py
  pyxcp/transport/can.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

sxi_framing.hpp: Make checksum error-message more friendly.
  pyxcp/tests/test_framing.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Re-implement policies in C++
  pyxcp/transport/transport_wrapper.cpp
Due: mixed-line-ending

Transport layers: make threading more robust
  pyproject.toml
  pyxcp/config/__init__.py
  pyxcp/transport/base.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.24.0 → 0.25.0
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add Python bytes() overload for prepare_request()
  pyxcp/transport/transport_wrapper.cpp
Due: mixed-line-ending

Bump version: 0.25.0 → 0.25.1
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Bump version: 0.25.1 → 0.25.2
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Replace try-except blocks with `contextlib.suppress()` for cleaner error handling.
  pyxcp/daq_stim/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Replace try-except blocks with `contextlib.suppress()` for cleaner error handling.
  pyxcp/daq_stim/__init__.py
  pyxcp/master/master.py
  pyxcp/recorder/converter/__init__.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Replace try-except blocks with `contextlib.suppress()` for cleaner error handling.
  pyxcp/master/master.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Replace try-except blocks with `contextlib.suppress()` for cleaner error handling.
  pyxcp/examples/xcphello.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update build
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add utils/cli.py (StrippingParser)
  pyxcp/utils/__init__.py
  pyxcp/utils/cli.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add HDF5 online policy.
  pyxcp/transport/hdf5_policy.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Support user-defined command-line parser frontend.
  .idea/pyxcp.iml
  pyxcp/cmdline.py
  pyxcp/examples/xcp_unlock.py
  pyxcp/scripts/xcp_info.py
  pyxcp/transport/hdf5_policy.py
  pyxcp/utils/cli.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Update documentation
  docs/howto_cli_tools.rst
  docs/recorder.rst
  docs/tutorial.rst
Due: none

Bump version: 0.25.3 → 0.25.4
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

Add asdict() method for DAQ related classes
  pyxcp/cpp_ext/extension_wrapper.cpp
Due: mixed-line-ending

Add basic meta-data to HDF file.
  pyxcp/transport/hdf5_policy.py
Due: bandit, black, ruff, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade

hdf5_policy.py: Update meta-data
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
  pyxcp/transport/hdf5_policy.py
Due: bandit, black, ruff, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, flake8, pyupgrade
