Repository christoph2/pyxcp: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-json, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: python
  stages:
  - commit

check-json:
  name: check-json
  entry: check-json
  language: python
  stages:
  - commit

check-toml:
  name: check-toml
  entry: check-toml
  language: python
  stages:
  - commit

check-ast:
  name: check-ast
  entry: check-ast
  language: python
  stages:
  - commit

check-builtin-literals:
  name: check-builtin-literals
  entry: check-builtin-literals
  language: python
  stages:
  - commit

check-case-conflict:
  name: check-case-conflict
  entry: check-case-conflict
  language: python
  stages:
  - commit

fix-byte-order-marker:
  name: fix-byte-order-marker
  entry: fix-byte-order-marker
  language: python
  stages:
  - commit

mixed-line-ending:
  name: mixed-line-ending
  entry: mixed-line-ending
  language: python
  stages:
  - commit

end-of-file-fixer:
  name: end-of-file-fixer
  entry: end-of-file-fixer
  language: python
  stages:
  - commit

trailing-whitespace-fixer:
  name: trailing-whitespace-fixer
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - commit

reorder-python-imports:
  name: reorder-python-imports
  entry: reorder-python-imports
  language: python
  stages:
  - commit

black:
  name: black
  entry: black
  language: python
  stages:
  - commit

Bump version: 0.18.31 → 0.18.32
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Disable cibuildwheel tests for now
  pyproject.toml
Due: check-toml

Bump version: 0.18.32 → 0.18.33
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add twine dependency
  pyproject.toml
Due: check-toml

Bump version: 0.18.33 → 0.18.34
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Using pip again as build frontend
  pyproject.toml
Due: check-toml

Bump version: 0.18.34 → 0.18.35
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix typo
  pyproject.toml
  pyxcp/recorder/rekorder.hpp
Due: check-toml, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Bump version: 0.18.35 → 0.18.36
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Add missing import
  .github/workflows/pythonapp.yml
  build.py
  pyxcp/recorder/build_clang.sh
  pyxcp/recorder/build_gcc.sh
  pyxcp/recorder/rekorder.hpp
Due: check-yaml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Rename build.py to build_ext.py
  build_ext.py
  pyproject.toml
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update files
  .pdm.toml
Due: check-toml

:new: terms of license: LGPLv3
  LICENSE
Due: none

:new: terms of license: LGPLv3
  .github/workflows/pythonapp.yml
  .github/workflows/sdist.yml
  pyproject.toml
  setup.py
Due: check-yaml, check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix flake8-bugbear diagnostics
  pyproject.toml
  pyxcp/examples/xcp_read_benchmark.py
  pyxcp/examples/xcptest.py
  pyxcp/master/errorhandler.py
  pyxcp/master/master.py
  pyxcp/recorder/reco.py
  pyxcp/recorder/recorder.py
  pyxcp/tests/test_master.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.36 → 0.18.37
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Diasble test runner
  pyproject.toml
Due: check-toml

update license information in setup.py
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update pythonapp.yml
  .github/workflows/pythonapp.yml
Due: check-yaml

Bump version: 0.18.37 → 0.18.38
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update pythonapp.yml
  pyproject.toml
  setup.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Bump version: 0.18.38 → 0.18.39
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

rename setup.py to _setup.py
  _setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Update setup.py
  setup.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try build as build frontend
  pyproject.toml
Due: check-toml

Bump version: 0.18.39 → 0.18.40
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Fix rekorder.hpp
  pyxcp/recorder/rekorder.hpp
Due: mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Bump version: 0.18.40 → 0.18.41
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

slightly faster USB transport
  pyxcp/__init__.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

the high resolution timer check was wrong
  pyxcp/transport/can.py
  pyxcp/transport/eth.py
  pyxcp/transport/sxi.py
  pyxcp/transport/usb_transport.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

bump version
  pyxcp/__init__.py
Due: check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

update package metadata using this example https://peps.python.org/pep-0621/#example
  README.md
  pyproject.toml
Due: check-toml

Fix meta-data issue
  pyproject.toml
  pyxcp/recorder/rekorder.hpp
Due: check-toml, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer

Fix pyproject.toml
  pyproject.toml
Due: check-toml

Diasable ubuntu-build for now
  .github/workflows/pythonapp.yml
Due: check-yaml

Diasable ubuntu-build for now
  .bumpversion.cfg
  pyproject.toml
Due: check-toml

Bump version: 0.18.43 → 0.18.44
  .bumpversion.cfg
  pyproject.toml
  pyxcp/__init__.py
Due: check-toml, check-ast, check-builtin-literals, check-case-conflict, fix-byte-order-marker, mixed-line-ending, end-of-file-fixer, trailing-whitespace-fixer, reorder-python-imports, black

Try to fix ubuntu-build
  .github/workflows/pythonapp.yml
  pyproject.toml
Due: check-yaml, check-toml

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-ast: any of: \.py$
  check-builtin-literals: any of: \.py$
  check-case-conflict: any of: \.py$
  fix-byte-order-marker: any of: \.py$
  mixed-line-ending: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  end-of-file-fixer: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  trailing-whitespace-fixer: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.py$
  reorder-python-imports: any of: \.py$
  black: any of: \.py$
